{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="portfolio table table-striped">
        {% if portfolio%}
        <thead>
            <h2>Portfolio</h2>
            {% for key in portfolio[0].keys() %}
                <th>
                    {{ key | title }}
                </th>
            {% endfor %}
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    {% for val in stock.values() %}
                        <td>
                            {{ val }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th>Cash</th>
                <td>{{ totals["cash"] | usd }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <td>{{ totals["grand_total"] | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
