{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container ctr-custom">
        <div class="card">
            <a href="/minesweeper" class="btn-custom">
                <div class="card-body">
                    <h4 class="card-title">Minesweeper</h4>
                    <p class="card-text">Flag all the mines as quickly as possible.<br></p>
                </div>
                <img src="/assets/minesweeper_screenshot.png" class="card-img-top" alt="Minesweeper screenshot">
            </a>
        </div>
    </div>
{% endblock %}