{% extends "layout.html" %}

{% block title %}
    Minesweeper
{% endblock %}

{% block main %}
    <table class="minesweeper">
        <thead>

        </thead>
        
        <tbody>
            <button onclick="checkSquare()" class="square" name="b"></button>
            <ul></ul>
        </tbody>
    </table>

    <script>
        function checkSquare() {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('minesweeper') }}",
                data: {"name": "test"}
            })
        }
    </script>
    
    <div class="nav">
        <a href="/" class="btn-custom">Back to homepage</a>
    </div>
{% endblock %}