{% extends "layout.html" %}

{% block title %}
    Minesweeper
{% endblock %}

{% block main %}
    <!-- Receive data as dict; transform into JSON -->
    <script type="text/javascript">
        const board = {{ data|tojson }};
    </script>
    
    <!-- Javascript for building table and handling input -->
    <script type="text/javascript" src="/static/minesweeper.js"></script>

    <div id="table-container"></div>

    <div class="nav">
        <a href="/" class="btn-custom">Back to homepage</a>
    </div>
{% endblock %}